html {
  overflow-x: hidden;
}

html.lock {
  overflow-y: hidden;
}

body {
  font-family: "Noto Sans", sans-serif;
  overflow: hidden;
}

.container {
  max-width: 1200px;
  width: calc(100% - 20px);
  margin: auto;
}

/* pop-ups */

.popup {
  max-width: 815px;
  width: 66.666666667vw;
  min-height: 660px;
  max-height: calc(100vh - 60px);
  background: #fff;
  border-radius: 12px;
  padding: 112px 82.5px 20px 124px;
  position: relative;
  overflow: auto;
  background: linear-gradient(174.76deg, #FAFCFB 12.91%, #F9FBFB 58.41%);
}

.popup-wrapper {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: -1111111;
  transition: opacity 0.25s 0s, z-index 0s 0.15s;
}

.popup-wrapper.active {
  opacity: 1;
  z-index: 1111111;
  transition: opacity 0.15s 0.1s, z-index 0s 0s;
}

.popup__social {
  margin-top: 50px;
}

.popup__social a {
  margin: 0 9px;
}

.popup-thank {
  text-align: center;
  display: none;
}

.popup-thank.active {
  display: block;
}

.popup-thank__image {
  margin-bottom: -61px;
}

.popup-thank__image img {
  max-width: 100%;
}

.popup-thank__title {
  font-weight: 600;
  font-size: 15px;
  line-height: 140%;
  padding: 0 25px;
}

.popup-thank__subtitle {
  font-size: 13px;
  line-height: 170%;
  color: #070715;
  max-width: 596px;
  margin: auto;
  padding: 0 25px;
  margin-top: 25px;
}

.popup__close-button {
  position: absolute;
  top: 32px;
  right: 32px;
}

.popup__title {
  font-weight: bold;
  font-size: 28px;
  line-height: 150%;
  color: #070715;
  max-width: 400px;
}

.popup__form {
  max-width: 100%;
}

.popup__form input[type=text],
.popup__form input[type=submit] {
  display: block;
}

.popup input[type=text].popup__name {
  font-size: 16px;
  line-height: 160%;
  padding: 20px 0 20px 25px;
  border: 1px solid #B3B3B3;
  box-sizing: border-box;
  border-radius: 4px;
  width: 457px;
  max-width: 100%;
  margin-top: 33px;
}

.popup input[type=text].popup__name::placeholder {
  color: #B2B2B2;
}

.popup input[type=tel].popup__tel {
  font-size: 16px;
  line-height: 160%;
  padding: 20px 0 20px 25px;
  border: 1px solid #B3B3B3;
  box-sizing: border-box;
  border-radius: 4px;
  width: 457px;
  max-width: 100%;
  margin-top: 20px;
}

.popup input[type=tel].popup__tel::placeholder {
  color: #B2B2B2;
}

.popup input[type=submit].popup__button {
  font-weight: bold;
  font-size: 14px;
  line-height: 112.84%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #070715;
  padding: 25px 80px;
  max-width: 100%;
  margin-top: 40px;
  background: #fff;
  border: 1px solid #000;
  box-sizing: border-box;
  border-radius: 4px;
}

.popup-background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -11;
  max-width: 100vw;
  max-height: 100vw;
  min-height: 100vh;
  opacity: 0;
  background: rgba(0, 0, 0, 0.48);
  transition: opacity 0.3s 0s, z-index 0s 0.2s;
}

.popup-background.active {
  opacity: 1;
  z-index: 1111111;
  transition: opacity 0.3s 0s, z-index 0s 0s;
}

.call-order.active {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.call-order.active .call-order__title,
.call-order.active .call-order__form {
  display: none;
}

.call-order.active .call-order__thank {
  display: block;
}

/* header */

.header {
  position: fixed;
  width: 100%;
  z-index: 11111;
  height: 100px;
  background: #fff;
  transition: 0.25s;
}

.header_small {
  height: 70px;
  transition: 0.3s;
}

.header_small ~ .header__bottom {
  top: 70px;
}

.header__bottom {
  background: #F68446;
  height: 30px;
  width: 100%;
  position: fixed;
  top: 100px;
  transition: 0.3s;
  z-index: 111;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}

.header__bottom .header__social {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  width: 197px;
  margin-left: 0;
}

.header__bottom .header__social a:not(:last-child) {
  margin: 0;
}

.header__tel_2 {
  font-size: 14px;
  line-height: 140%;
  color: #FFFBFB;
}

.header__menu {
  height: 100%;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.header__menu-btn {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  width: 53px;
  height: 100%;
  box-sizing: content-box;
  transition: 0.5s;
}

.header__menu-btn span {
  transition: 0.5s;
  transform-origin: center;
  left: 50%;
  transform: translate(-50%, 0);
}

.header__menu-btn span:first-child {
  display: block;
  width: 30px;
  height: 3px;
  background: #000;
  border-radius: 0.5px;
  position: absolute;
  z-index: 1;
  top: calc(50% - 4.5px);
}

.header__menu-btn span:last-child {
  display: block;
  width: 30px;
  height: 3px;
  background: #000;
  border-radius: 0.5px;
  position: absolute;
  top: calc(50% + 4.5px);
  z-index: 1;
}

.header .hamburger-active span {
  top: 50%;
}

.header .hamburger-active span:first-child {
  transform: rotate(45deg) translate(0, -50%);
  transform-origin: center;
  top: 50%;
  left: calc(50% - 16px);
}

.header .hamburger-active span:last-child {
  transform: rotate(-45deg) translate(0, -50%);
  transform-origin: center;
  top: 50%;
  left: calc(50% - 14px);
}

.header__social {
  align-items: center;
  display: none;
  margin: 0 0 0 37px;
}

.header__social a:not(:last-child) {
  margin-right: 18px;
}

.header__tel {
  margin-top: -1px;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
}

.header-active__tel-wrapper {
  display: none;
}

.header__tel-button {
  font-weight: 500;
  padding: 15px 26px 16px;
  font-size: 16px;
  line-height: 140%;
  color: #fff;
  background: #F68446;
  border-radius: 6px;
  transition: 0.2s;
}

.header__tel-button:hover {
  background: #F16147;
}

.logo {
  margin-right: 101px;
  height: 100%;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
}

.logo a {
  display: block;
}

.nav {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.nav-wrapper {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.nav li {
  font-size: 16px;
}

.nav li:not(:nth-child(3)) {
  margin-right: 64px;
}

.nav li.header__social,
.nav li.header__tel {
  margin-right: 0;
}

.menu-callback {
  display: none;
  max-width: 584px;
  margin: 14px auto 0;
}

.menu-callback a {
  color: #fff;
}

.header__menu ul {
  transition: background 0.44s 0.2s cubic-bezier(0.52, 0.16, 0.24, 1), height 0.56s cubic-bezier(0.52, 0.16, 0.24, 1);
  z-index: 11;
}

.header__menu ul li:nth-child(1) {
  transition: opacity 0.3345s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.15s, transform 0.4669s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.108s;
}

.header__menu ul li:nth-child(2) {
  transition: opacity 0.29294s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.13s, transform 0.45043s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.095s;
}

.header__menu ul li:nth-child(3) {
  transition: opacity 0.26098s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.11s, transform 0.43756s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.082s;
}

.header__menu ul li:nth-child(4) {
  transition: opacity 0.2386s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.09s, transform 0.42827s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.069s;
}

.header__menu ul li:nth-child(5) {
  transition: opacity 0.22581s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.07s, transform 0.42259s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.056s;
}

.header__menu ul li:nth-child(6) {
  transition: opacity 0.21281s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.05s, transform 0.414s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.043s;
}

.header__menu .menu-active {
  height: 100vh;
  display: block;
  transition: background 0.36s 0s cubic-bezier(0.52, 0.16, 0.24, 1), height 0.56s cubic-bezier(0.52, 0.16, 0.24, 1), padding 0.3s cubic-bezier(0.52, 0.16, 0.24, 1) !important;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  padding-bottom: 40px;
}

.header__menu .menu-active li:nth-child(1) {
  transition: opacity 0.3091s cubic-bezier(0.32, 0.08, 0.24, 1) 0.03s, transform 0.3455s cubic-bezier(0.32, 0.08, 0.24, 1) 0.02s;
}

.header__menu .menu-active li:nth-child(2) {
  transition: opacity 0.32244s cubic-bezier(0.32, 0.08, 0.24, 1) 0.05s, transform 0.35825s cubic-bezier(0.32, 0.08, 0.24, 1) 0.04s;
}

.header__menu .menu-active li:nth-child(3) {
  transition: opacity 0.33467s cubic-bezier(0.32, 0.08, 0.24, 1) 0.07s, transform 0.37539s cubic-bezier(0.32, 0.08, 0.24, 1) 0.06s;
}

.header__menu .menu-active li:nth-child(4) {
  transition: opacity 0.34577s cubic-bezier(0.32, 0.08, 0.24, 1) 0.09s, transform 0.39692s cubic-bezier(0.32, 0.08, 0.24, 1) 0.08s;
}

.header__menu .menu-active li:nth-child(5) {
  transition: opacity 0.35577s cubic-bezier(0.32, 0.08, 0.24, 1) 0.11s, transform 0.42286s cubic-bezier(0.32, 0.08, 0.24, 1) 0.1s;
}

.header__menu .menu-active .menu-callback {
  transition: opacity 0.36677s cubic-bezier(0.32, 0.08, 0.24, 1) 0.13s, transform 0.44786s cubic-bezier(0.32, 0.08, 0.24, 1) 0.12s;
}

.header__menu .menu-active li,
.header__menu .menu-active .menu-callback {
  transform: none;
  opacity: 1;
}

.main {
  position: relative;
  padding: 188px 0 0;
  margin: 0 auto;
  width: 100%;
}

.main_1,
.main_2,
.main_3,
.main_4 {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 15px 0 94px;
  width: 100%;
}

.main_1 {
  background: url("../img/main-bg_1.jpg") no-repeat right/cover;
  min-height: 456px;
}

.main_2 {
  background: url("../img/main-bg_2.jpg") no-repeat right/cover;
  min-height: 456px;
}

.main_3 {
  background: url("../img/main-bg_3.jpg") no-repeat right/cover;
  min-height: 504px;
}

.main_3 .main__subtitle {
  max-width: 482px;
}

.main_4 {
  background: url("../img/main-bg_4.jpg") no-repeat right/cover;
  min-height: 504px;
}

.main_4 .main__subtitle {
  max-width: 578px;
}

.main__title,
.main__title_2 {
  font-size: 48px;
  line-height: 120%;
  color: #000;
  font-weight: 600;
}

.main__title {
  max-width: 781px;
}

.main__title_2 {
  max-width: 730px;
}

.main__subtitle {
  font-weight: 300;
  font-size: 20px;
  line-height: 160%;
  margin-top: 22px;
}

.main__subtitle span {
  color: #F68446;
}

.main__button,
.main__button_2 {
  font-family: "Montserrat", sans-serif;
  display: inline-block;
  font-size: 16px;
  line-height: 112.84%;
  color: #000;
  border: 1px solid #F68446;
  border-radius: 6px;
  padding: 21px 71px;
  margin-top: 34px;
  transition: 0.2s;
}

.main__button:hover,
.main__button_2:hover {
  background: #F68446;
  color: #fff;
}

.main__button {
  display: inline-block;
}

.main__button_2 {
  display: none;
}

.main .slick-dots {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  width: 86px;
  margin: 40px auto 0;
}

.main .slick-dots li.slick-active button {
  background: #F68446;
}

.main .slick-dots li button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid #F68446;
  transition: 0.2s;
  font-size: 0;
}

.main .slick-slide {
  margin: 0 5px;
}

.slick-track {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.slick-list {
  overflow: hidden;
}

.direction {
  padding-top: 98px;
}

.direction__title {
  font-weight: 600;
  font-size: 28px;
  line-height: 150%;
}

.direction__row {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 27px;
}

.direction__column {
  flex: 0 1 calc(50% - 5px);
}

.direction__item {
  min-height: 99px;
  border: 1px solid #F68446;
  border-radius: 4px;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  max-width: 443px;
  margin-bottom: 36px;
  padding-right: 15px;
  transition: 0.25s;
}

.direction__name {
  margin-left: 58px;
  font-size: 16px;
  line-height: 112.84%;
  color: #070715;
  max-width: 191px;
}

.direction__statistics {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: flex-end;
  margin-top: 68px;
}

.direction__number {
  font-weight: 900;
  font-size: 48px;
  line-height: 150%;
  letter-spacing: 0.1em;
  color: #070715;
}

.direction .statistics__item {
  flex: 1 0 25%;
}

.direction .statistics__name {
  font-size: 16px;
  line-height: 150%;
  color: #070715;
  max-width: 246px;
}

.direction .statistics__button {
  margin-bottom: 0;
}

.direction .statistics__button button {
  font-size: 16px;
  line-height: 150%;
  color: #fff;
  padding: 18px 36px;
  width: 100%;
  text-align: center;
  background: #F68446;
  border-radius: 4px;
  transition: 0.2s;
}

.direction .statistics__button button:hover {
  background: #F16147;
}

/* Directions */

.directions {
  max-width: 1600px;
  margin: 0 auto;
}

.directions__wrapper {
  padding: 160px 200px 180px;
  background: #F4F7F8;
}

.directions__title {
  font-weight: 900;
  font-size: 36px;
  line-height: 150%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 60px;
  color: #000;
}

.directions__title span {
  color: #F16147;
}

.directions__content {
  max-width: 1044px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.directions__item {
  width: 443px;
  height: 136px;
  padding: 5px 20px;
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 4px;
  margin-bottom: 50px;
}

.directions__subtitle {
  font-weight: 400;
  font-size: 20px;
  line-height: 112.84%;
  text-transform: lowercase;
  color: #000;
}

/* Work */

.work {
  margin-top: 106px;
}

.work__title {
  font-weight: 600;
  font-size: 28px;
  line-height: 150%;
  color: #070715;
  text-align: center;
}

.work__row {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  margin-top: 42px;
}

.work__row .work__step:nth-child(1)::after {
  content: url("../img/ico/work-arrow_1.svg");
  position: absolute;
  bottom: -30px;
  right: -30px;
}

.work__row .work__step:nth-child(2)::after {
  content: url("../img/ico/work-arrow_2.svg");
  position: absolute;
  bottom: -50px;
  right: -80px;
}

.work__row .work__step:nth-child(3) .work__text {
  max-width: 281px;
}

.work__step {
  flex: 1 0 33.33%;
  text-align: center;
  position: relative;
}

.work__number {
  font-weight: bold;
  font-size: 72px;
  line-height: 150%;
  letter-spacing: 0.1em;
  color: transparent;
  -webkit-text-stroke: 2px #F68446;
}

.work__text {
  font-size: 18px;
  line-height: 170%;
  text-align: center;
  color: #070715;
  max-width: 324px;
  margin: 24px auto 0;
}

/* File */

.file {
  overflow-x: hidden;
  padding-top: 95px;
}

.file__container {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
}

.file__title {
  font-weight: 600;
  font-size: 28px;
  line-height: 150%;
  color: #070715;
  text-align: center;
}

.file__img {
  flex: 1 0 55.66%;
}

.file__img img {
  max-width: 100%;
}

.file__column {
  margin-left: -78px;
}

.file__text {
  font-weight: bold;
  font-size: 20px;
  line-height: 170%;
  color: #000;
  max-width: 610px;
}

.file__button {
  margin-top: 60px;
}

.file__button button {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #FFFCFC;
  background: #F68446;
  border-radius: 6px;
  padding: 15px 60px 16px;
  transition: 0.2s;
}

.file__button button:hover {
  background: #F16147;
}

/* Test */

.test {
  margin-top: 232px;
  background: url("../img/test-img.jpg") no-repeat center/cover;
  overflow-x: hidden;
}

.test.active {
  background: #fff;
}

.test__container {
  max-width: 600px;
  width: calc(100% - 20px);
  min-height: 688px;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.test__container.active {
  margin: auto;
}

.test__wrapper {
  width: 100%;
  position: relative;
  display: none;
  flex-direction: column;
  transition: position 0s 0s, opacity 0s 0.3s;
}

.test__wrapper.active {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.test_1 {
  justify-content: center;
}

.test_6 {
  align-items: center;
  padding-top: 140px;
}

.test_2,
.test_3,
.test_4,
.test_5 {
  padding-top: 43px;
}

.test__progressbar {
  width: 100%;
  min-height: 10px;
  position: relative;
  background: #F2F2F2;
  border-radius: 8px;
}

.test__progressbar::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background: #F68446;
  border-radius: 8px;
  height: 100%;
}

.test_1__progressbar::before {
  width: 25%;
}

.test_2__progressbar::before {
  width: 50%;
}

.test_3__progressbar::before {
  width: 75%;
}

.test_4__progressbar::before {
  width: 100%;
}

.test__progress-text {
  font-size: 14px;
  line-height: 170%;
  color: #070715;
  margin-top: 17px;
  display: block;
}

.test__title {
  font-weight: 600;
  font-size: 28px;
  line-height: 170%;
  color: #070715;
  margin-top: 47px;
}

.test__subtitle {
  font-size: 16px;
  line-height: 170%;
  color: #070715;
}

.test__button {
  margin-top: 55px;
  padding: 14px 0 15px;
  background: #F68446;
  font-size: 18px;
  line-height: 170%;
  color: #fff;
  display: inline-block;
  width: 250px;
  text-align: center;
  border-radius: 4px;
  transition: 0.2s;
}

.test__button:hover {
  background: #F16147;
}

.test__question {
  font-weight: bold;
  font-size: 20px;
  line-height: 170%;
  color: #070715;
  margin-top: 58px;
}

.test .stage {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.test .stage .stage__column:last-child .stage__label:last-child {
  margin-bottom: 0;
}

.test .tasks {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.test .tasks .tasks__column:last-child .stage__label:last-child {
  margin-bottom: 0;
}

.test .stage__label,
.test .tasks__label {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  margin-bottom: 32px;
}

.test .radio__text,
.test .checkbox__text {
  margin-left: 10px;
  font-size: 18px;
  line-height: 170%;
  color: #070715;
  margin-top: -10px;
}

.test .stage__column,
.test .tasks__column {
  width: calc(50% - 5px);
}

.test .radio-fake {
  display: block;
  min-width: 12px;
  height: 12px;
  border: 1px solid #070715;
  border-radius: 50%;
  position: relative;
}

.test .radio-fake::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 6px;
  height: 6px;
  background: #070715;
  border-radius: 50%;
  transition: 0.15s;
  opacity: 0;
}

.test .checkbox-fake {
  display: block;
  min-width: 10px;
  height: 10px;
  border: 1px solid #070715;
  position: relative;
}

.test .checkbox-fake::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 6px;
  height: 6px;
  background: #070715;
  transition: 0.15s;
  opacity: 0;
}

.test .stage__radio,
.test .tasks__checkbox {
  display: none;
}

.test .stage__radio:checked + .radio-fake::before,
.test .tasks__checkbox:checked + .checkbox-fake::before {
  opacity: 1;
}

.test__navigation {
  width: 100%;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.test__navigation-wrapper {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: flex-end;
  flex: 1 0;
  margin: 20px 0 106px;
}

.test__back-button {
  font-size: 18px;
  line-height: 170%;
  color: #070715;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
}

.test__back-button img {
  margin-right: 9px;
}

.test__next-button {
  margin: 0 0 0 20px;
}

.test__range {
  width: 100%;
  margin: auto;
}

.test__range-wrapper {
  width: 100%;
}

.test .range__row {
  width: 100%;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  font-size: 18px;
  line-height: 170%;
  color: #000;
  margin-top: 8px;
  padding: 0 24px;
}

.test .range_1__result,
.test .range_2__result {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
}

.test .range_1__result img,
.test .range_2__result img {
  height: 12.7px;
}

.test .test__range {
  -webkit-appearance: none;
  margin-top: 37px;
  width: 100%;
  border-radius: 50%;
}

.test .test__range:focus {
  outline: none;
}

.test .test__range::-webkit-slider-runnable-track {
  height: 10px;
  cursor: pointer;
  background: #F2F2F2;
  border-radius: 8px;
}

.test .test__range::-webkit-slider-thumb {
  height: 26px;
  width: 26px;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8px;
  border-radius: 50%;
  background: #EF4043;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.test .test__range::-moz-range-track {
  height: 10px;
  cursor: pointer;
  background: #F2F2F2;
}

.test .test__range::-moz-range-thumb {
  height: 26px;
  width: 26px;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -9px;
  border-radius: 50%;
  background: #EF4043;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.test .test__range::-ms-track {
  height: 10px;
  cursor: pointer;
  background: #F2F2F2;
}

.test .test__range::-ms-thumb {
  height: 26px;
  width: 26px;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -9px;
  border-radius: 50%;
  background: #EF4043;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.test__thank {
  font-size: 18px;
  line-height: 170%;
  text-align: center;
  color: #070715;
}

.test_6__data {
  font-weight: bold;
  font-size: 20px;
  line-height: 170%;
  text-align: center;
  color: #070715;
  max-width: 367px;
  margin: 54px 0 5px;
}

.test_6__form {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 100%;
}

.test__input {
  padding: 21px 23px;
  background: transparent;
  border: 1px solid #CECECE;
  border-radius: 4px;
  font-size: 18px;
  line-height: 170%;
  color: #070715;
  margin-top: 20px;
  max-width: 100%;
  width: 336px;
  display: block;
  max-width: 250px;
}

.test__input::placeholder {
  color: #B1B1B1;
}

.test__input[type=submit] {
  padding: 19px 0;
  background: #F68446;
  text-align: center;
  color: #FFF8F8;
  border: none;
}

.test_6__checkbox {
  max-width: 336px;
  margin: 22px auto 0;
}

.test_6__checkbox .checkbox__text {
  margin-top: -5px;
  font-size: 12px;
  line-height: 160%;
  color: #FFFCFC;
}

.test_6__checkbox .checkbox__text a {
  color: #FFFCFC;
  -webkit-text-decoration: underline #FFFCFC;
  text-decoration: underline #FFFCFC;
}

/* Form */

.form {
  max-width: 1200px;
  width: 1200px;
  padding: 70px 100px 65px;
  background: #F68446;
  border-radius: 12px;
}

.form__wrapper {
  max-width: 1600px;
  margin: 160px auto;
  display: flex;
  justify-content: flex-end;
}

.form__title {
  max-width: 620px;
  margin-bottom: 38px;
  font-weight: bold;
  font-size: 20px;
  line-height: 170%;
  color: #fff;
}

.form__input {
  max-width: 955px;
  display: flex;
  justify-content: space-between;
}

.form__item input {
  display: flex;
  align-items: center;
  width: 288px;
  padding: 18px 20px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
}

.form__item::placeholder {
  color: #B1B1B1;
}

.form__item input[type=submit] {
  width: 316px;
  height: 64px;
  justify-content: center;
  background: #010101;
  font-weight: 700;
  font-size: 14px;
  line-height: 112.84%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

.form__item input[type=submit]:hover {
  background: #fff;
  color: #000;
}

.form__text {
  max-width: 289px;
  margin-top: 13px;
  font-weight: 500;
  font-size: 12px;
  line-height: 160%;
  color: #fff;
}

/* questions */

.questions {
  padding: 176px 0;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
}

.questions__wrapper {
  max-width: 620px;
}

.questions__title {
  font-weight: 600;
  font-size: 28px;
  line-height: 150%;
  margin-bottom: 26px;
}

.questions__boxes {
  position: relative;
  height: 200px;
  width: 399px;
  margin-left: 230px;
}

.questions .question {
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.questions .question__button {
  width: 20px;
  height: 20px;
  position: relative;
  margin-left: 20px;
}

.questions .question__button span {
  position: absolute;
  display: block;
  top: calc(50% - 2px);
  width: 20px;
  height: 4px;
  background: #000;
}

.questions .question__button span:first-child {
  transform: rotate(90deg);
  transform-origin: center;
  transition: 0.35s;
}

.questions .question__button.active span:first-child {
  transform: rotate(0deg);
}

.questions .question__wrapper {
  margin-bottom: 30px;
}

.questions__box {
  border: 2px solid #000;
  width: 345.35px;
  height: 110px;
  border-radius: 0 28px 0 28px;
  transform: skew(26deg);
  position: absolute;
  transition: 0.45s;
}

.questions__box:nth-child(1) {
  top: calc(50% - 215px);
}

.questions__box:nth-child(1).active_2 {
  top: calc(50% - 275px);
}

.questions__box:nth-child(1).active {
  top: calc(50% - 335px);
}

.questions__box:nth-child(2) {
  top: calc(50% - 135px);
}

.questions__box:nth-child(2).active {
  top: calc(50% - 195px);
}

.questions__box:nth-child(3) {
  top: calc(50% - 55px);
}

.questions__box:nth-child(4) {
  top: calc(50% + 25px);
}

.questions__box:nth-child(4).active {
  top: calc(50% + 85px);
}

.questions__box:nth-child(5) {
  top: calc(50% + 105px);
}

.questions__box:nth-child(5).active_2 {
  top: calc(50% + 165px);
}

.questions__box:nth-child(5).active {
  top: calc(50% + 225px);
}

.questions .question__wrapper {
  width: 621px;
}

.questions .answer {
  max-width: 575px;
  font-size: 16px;
  line-height: 170%;
  margin-top: 32px;
}

/* Footer */

.footer {
  background: #333;
  padding: 78px 0;
}

.footer__container {
  max-width: 1200px;
  margin: auto;
}

.footer__row {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
}

.footer__social {
  display: none;
}

.footer__menu {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  margin-left: 108px;
}

.footer__menu .footer__item:not(:first-child) {
  margin-left: 49px;
}

.footer__link {
  font-size: 16px;
  line-height: 140%;
  color: #fff;
}

.footer__tel {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  margin-left: 447px;
}

.footer__navigation {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
}

.footer__tel-button {
  background: #F68446;
  border-radius: 4px;
  padding: 15px 42px 16px;
  font-size: 16px;
  line-height: 140%;
  color: #fff;
}

.footer__tel-button:hover {
  background: #F16147;
}

.footer__button-wrapper {
  margin-top: 67px;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
}

.footer__button-wrapper .footer__button {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #fff;
  padding-bottom: 6px;
  border-bottom: 1px solid #fff;
}

.footer__social a,
.footer_1__social a {
  margin: 0 12.5px;
}

.page-404 {
  background: #000;
  text-align: center;
  padding-bottom: 20px;
  padding: 0 0 20px;
}

.page--warning__image {
  margin-top: 118px;
}

.page--warning__image img {
  max-width: 100%;
}

.page--warning__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 160%;
  text-transform: uppercase;
  color: #FFFEFE;
}

.page--warning__subtitle {
  margin-top: 22px;
  font-size: 18px;
  line-height: 170%;
  color: #fffefe;
}

.page--warning__button {
  margin-top: 85px;
}

.page--warning__button a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  background: #F68446;
  border-radius: 6px;
  font-size: 16px;
  line-height: 112.84%;
  color: #fff;
  padding: 22px 40px;
  display: inline-block;
}

@media screen and (max-width: 1320px) {
  .directions__wrapper {
    padding: 160px 80px 180px;
  }
}

@media screen and (max-width: 1300px) {
  .questions .questions__boxes {
    margin-left: 100px;
  }
}

@media screen and (max-width: 1200px) {
  .main_1,
  .main_2,
  .main_3,
  .main_4 {
    background-position: center;
  }

  .footer__container {
    width: calc(100% - 20px);
  }

  .footer__row {
    justify-content: space-between;
  }

  .footer__tel {
    margin-left: 0;
  }

  .footer__tel-button {
    margin-left: 0;
  }
}

@media screen and (max-width: 1150px) {
  .direction__statistics {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .direction .statistics__item {
    text-align: center;
  }

  .direction .statistics__name {
    font-size: 14px;
    line-height: 130%;
    margin: auto;
  }

  .direction .statistics__button {
    flex: 1 0 100%;
    width: 100%;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    margin-top: 62px;
  }

  .direction .statistics__button button {
    width: 270px;
    font-size: 13px;
  }

  .questions__wrapper {
    width: 100%;
    max-width: 100%;
  }

  .questions__title {
    margin-left: 40px;
  }

  .questions .question__wrapper {
    width: calc(100% - 80px);
    margin: 30px auto 0;
  }

  .questions__boxes {
    display: none;
  }
}

@media screen and (max-width: 1130px) {
  .form {
    padding: 70px 20px 65px;
  }

  .form__input {
    width: 100%;
  }

  .form__item {
    width: 32%;
  }

  .form__item input {
    width: 100%;
  }

  .form__item input[type=submit] {
    width: 100%;
  }
}

@media screen and (max-width: 1100px) {
  .popup {
    padding: 112px 50px 20px;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .popup__title {
    max-width: 457px;
  }

  .main_1,
  .main_2,
  .main_3,
  .main_4 {
    padding: 0 10px;
  }

  .work__row .work__step::after {
    display: none;
  }

  .work__text {
    max-width: 183px;
    margin: auto;
  }
}

@media screen and (max-width: 1080px) {
  .directions__wrapper {
    padding: 160px 20px 180px;
  }
}

@media screen and (max-width: 1015px) {
  .file__container {
    flex-wrap: wrap;
  }

  .file__column {
    margin-left: 0;
  }

  .file__text {
    text-align: center;
    max-width: 100%;
  }

  .file__img {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
  }

  .file__button {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    margin-top: 48px;
  }

  .file__button button {
    width: 270px;
    padding: 21px 0;
    text-align: center;
  }
}

@media screen and (max-width: 1000px) {
  .header .logo {
    margin-right: 30px;
  }

  .test {
    background-position: right;
  }
}

@media screen and (max-width: 960px) {
  .footer__menu {
    margin-left: 40px;
  }
}

@media screen and (max-width: 950px) {
  .direction .statistics__item {
    flex: 0 1 200px;
    padding: 0 10px;
  }

  .direction .statistics__button {
    flex: 1 0 100%;
  }
}

@media screen and (max-width: 940px) {
  .directions__title {
    font-size: 30px;
  }

  .directions__col {
    width: 49%;
  }

  .directions__item {
    width: 100%;
  }

  .form__input {
    flex-wrap: wrap;
    justify-content: center;
  }

  .form__item {
    flex: 1 0 calc(50% - 20px);
    margin: 10px;
  }

  .form__text {
    text-align: center;
    margin: 13px auto 0;
  }
}

@media screen and (max-width: 915px) {
  .direction__item {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 900px) {
  .work__step {
    padding: 0;
  }

  .work__title {
    font-size: 24px;
    line-height: 150%;
  }

  .work__text {
    font-size: 15px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    margin-top: 0;
    background: #fff;
    height: 53px;
    top: 0;
    width: 100%;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  }

  .header__bottom {
    display: none;
  }

  .header__menu-btn {
    display: block;
    z-index: 111111;
  }

  .header-bg {
    display: none;
  }

  .header__menu ul {
    width: 100vw;
    position: absolute;
    left: 0;
    height: 0;
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 40px;
    background: #fff;
  }

  .header__menu ul .header-active__tel-wrapper {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header__menu ul li {
    margin: auto;
  }

  .header__menu ul li a {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 0;
    margin-bottom: 32px;
    color: #000;
    font-size: 16px;
    line-height: 140%;
    text-transform: capitalize;
    color: #000;
  }

  .header .logo {
    position: absolute;
    float: none;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    padding-left: 20px;
  }

  .header .logo img {
    width: 120px;
  }

  .header .header__tel-button {
    font-size: 13px;
    padding: 18px 10px 17px;
  }

  .header__social {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
  }

  .nav li:not(:nth-child(3)) {
    margin-right: auto;
  }

  .nav-wrapper {
    flex-direction: column;
  }

  .menu-callback {
    display: block;
  }

  .header__menu ul li,
  .header__menu ul .menu-callback {
    transform: translateY(-40px);
    opacity: 0;
  }

  .header__menu ul li:nth-child(1) {
    margin-top: 137px;
  }

  .header__menu ul .header__social {
    justify-content: center;
  }

  .header__menu ul .header__social a {
    margin-bottom: 0;
  }

  .header__menu ul .header__tel {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    margin-top: 39px;
  }

  .header__menu ul .header__tel .header__tel-wrapper {
    display: none;
  }

  .header__menu ul .header__tel .header__tel-button {
    width: 270px;
    text-align: center;
  }

  .main_1,
  .main_2,
  .main_3,
  .main_4 {
    min-height: 400px;
  }

  .main__title,
  .main__title_2 {
    font-size: 28px;
    line-height: 120%;
    text-align: center;
    max-width: 100%;
    width: 100%;
  }

  .main__subtitle {
    font-size: 15px;
    line-height: 160%;
    text-align: center;
    color: #070715;
    max-width: 100%;
    width: 100%;
  }

  .main .slick-dots {
    margin-top: 20px;
  }

  .main .slick-slide {
    margin: 0;
  }

  .main__button {
    display: none;
  }

  .main__button_2 {
    display: inline-block;
    margin-top: 20px;
    width: 280px;
    max-width: 280px;
  }

  .main__button_2-wrapper {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
  }

  .direction__title {
    font-size: 28px;
  }

  .direction__image {
    max-height: 100%;
    height: 100%;
    max-width: 67px;
    min-width: 67px;
  }

  .direction__image img {
    max-width: 100%;
    width: 100%;
    max-height: 65px;
    height: 65px;
  }

  .direction__item {
    min-height: 67px;
    height: 67px;
  }

  .direction__name {
    font-size: 13px;
    line-height: 112.84%;
    margin-left: 28px;
  }

  .test__question {
    font-size: 16px;
  }

  .footer__row {
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer__menu {
    width: 100%;
    margin-left: 0;
    margin-top: 49px;
    flex-direction: column;
    align-items: center;
  }

  .footer__menu .footer__item:not(:first-child) {
    margin-left: 0;
  }

  .footer__menu .footer__item {
    margin-bottom: 15px;
  }

  .footer__tel {
    max-width: 100%;
    width: 100%;
    min-width: 100%;
    justify-content: center;
    margin-top: 30px;
  }

  .footer__navigation {
    flex-direction: column;
  }

  .footer__button-wrapper {
    margin-top: 30px;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
  }

  .footer__row {
    flex-direction: column;
  }

  .footer__tel {
    margin-top: 35px;
  }

  .footer__tel-button {
    width: 270px;
    text-align: center;
    padding: 20px;
  }

  .footer__social {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    margin-top: 50px;
  }

  .footer_1__social {
    display: none;
  }

  .footer__button {
    margin-top: 40px;
  }

  .footer__button a {
    font-weight: 600;
    font-size: 12px;
    line-height: 140%;
  }
}

@media screen and (max-width: 750px) {
  .popup {
    width: 88vw;
  }

  .popup input[type=submit].popup__button {
    width: 100%;
    text-align: center;
    padding: 25px 0;
  }

  .file {
    flex-wrap: wrap;
  }

  .file__img {
    flex: 1 0 100%;
  }

  .file__column {
    margin-left: 0;
  }
}

@media screen and (max-width: 740px) {
  .form__title {
    font-size: 23px;
    line-height: 130%;
  }
}

@media screen and (max-width: 710px) {
  .form__item {
    margin: 10px 0;
    flex: 1 0 100%;
  }

  .form__title {
    width: 100%;
    font-size: 20px;
    margin-bottom: 10px;
    line-height: 120%;
  }

  .form__text {
    max-width: 100%;
  }
}

@media screen and (max-width: 680px) {
  .directions__title {
    margin-bottom: 20px;
    text-align: center;
    font-size: 25px;
    line-height: 120%;
  }

  .directions__content {
    flex-direction: column;
    align-items: center;
  }

  .directions__col {
    width: 100%;
  }

  .directions__item {
    width: 443px;
    margin: 0 auto 50px;
    justify-content: center;
  }
}

@media screen and (max-width: 650px) {
  .page--warning__title {
    margin-top: 40px;
    font-size: 13px;
  }

  .page--warning__subtitle {
    font-size: 13px;
    margin-top: 19px;
    padding: 0px 45px;
  }

  .page--warning__button {
    margin-top: 31px;
  }
}

@media screen and (max-width: 639px) {
  .direction .statistics__item {
    flex: 0 1 100%;
    margin-bottom: 15px;
  }

  .direction .statistics__name {
    max-width: 200px;
    margin: auto;
  }

  .direction .statistics__button {
    margin-top: 19px;
    margin-bottom: 0;
  }

  .work__title {
    text-align: left;
  }

  .work__step {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    flex: 1 0 100%;
    margin-top: 0;
    margin-bottom: -14px;
  }

  .work__number {
    -webkit-text-stroke: 1px #F68446;
    font-size: 55px;
  }

  .work__text {
    margin: 0 0 0 8px;
    max-width: 100%;
    text-align: left;
    font-size: 13px;
    line-height: 170%;
  }
}

@media screen and (max-width: 600px) {
  .main {
    padding-top: 69px;
  }

  .main_1,
  .main_2,
  .main_3,
  .main_4 {
    min-height: 381px;
    padding-top: 65px;
    justify-content: flex-start;
  }

  .main__title,
  .main__title_2 {
    font-size: 24px;
  }

  .main__title_2 {
    font-weight: 600;
    font-size: 18px;
    max-width: 300px;
    margin: 15px auto 0;
  }
}

@media screen and (max-width: 520px) {
  .direction__title {
    font-size: 24px;
    line-height: 28px;
  }

  .direction__column {
    flex: 1 0 100%;
  }

  .direction__item {
    max-width: 100%;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 500px) {
  .popup {
    width: calc(100vw - 20px);
    margin: auto;
    padding: 112px 20px 20px;
    min-height: 570px;
  }

  .main {
    padding: 83px 0 0;
    margin-bottom: 0;
  }

  .main__title {
    font-size: 24px;
    line-height: 120%;
    max-width: 100%;
  }

  .main__text {
    font-size: 18px;
    line-height: 120%;
  }

  .main__subtitle {
    max-width: 270px;
    margin: 13px auto 0;
  }

  .main__button {
    margin-top: 40px;
    max-width: 100%;
  }

  .main__img-mobile {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
  }

  .main__img-mobile img {
    width: 386px;
    max-width: 386px;
  }

  .direction__statistics {
    margin-top: 49px;
  }

  .directions__item {
    width: 100%;
  }

  .directions__subtitle {
    font-size: 16px;
  }

  .work {
    margin-top: 49px;
  }

  .work__row {
    margin-top: -1px;
  }

  .file {
    margin-top: 30px;
  }

  .file__title {
    font-size: 22px;
    line-height: 150%;
  }

  .file__img {
    align-items: center;
  }

  .file__img img {
    max-width: 130%;
  }

  .file__text {
    font-size: 13px;
    line-height: 170%;
    margin-top: 2px;
  }

  .test {
    margin-top: 78px;
  }

  .form {
    padding: 70px 0 65px;
  }

  .form__title {
    font-size: 16px;
  }
}

@media screen and (max-width: 480px) {
  .header__tel {
    flex-direction: column;
  }

  .header__tel-wrapper {
    text-align: center;
  }

  .header__tel-button {
    margin-top: 5px;
  }

  .test__thank {
    font-size: 10px;
  }

  .test .stage,
  .test .tasks {
    flex-direction: column;
    align-items: center;
  }

  .test .stage__column,
  .test .tasks__column {
    width: 100%;
  }

  .form__wrapper {
    display: none;
  }
}

@media screen and (max-width: 470px) {
  .popup__title {
    font-size: 22px;
  }
}

@media screen and (max-width: 460px) {
  .test .range_1__result img,
  .test .range_2__result img {
    height: 12px;
  }

  .test {
    overflow: hidden;
  }

  .test_1 {
    text-align: center;
  }

  .test .container {
    max-height: 627px;
    height: 627px;
  }

  .test__container {
    width: 100%;
    max-height: 100%;
    min-height: 100%;
  }

  .test__wrapper {
    align-items: center;
    padding-top: 31px;
  }

  .test__title {
    font-size: 22px;
    line-height: 150%;
    max-width: 211px;
    font-size: 13px;
    line-height: 170%;
    margin-top: 30px;
  }

  .test__subtitle {
    font-size: 13px;
    line-height: 170%;
  }

  .test__button {
    font-size: 13px;
    line-height: 170%;
    padding: 19px 0;
    width: 270px;
    margin-top: 36px;
  }

  .test__next-button {
    margin: 31px auto 0;
    width: 250px;
  }

  .test__back-button {
    font-size: 10px;
    max-width: 250px;
    width: 100%;
    margin: auto;
  }

  .test__navigation {
    flex-wrap: wrap;
  }

  .test__navigation-wrapper {
    font-size: 10px;
    line-height: 170%;
  }

  .test__question {
    font-size: 13px;
    margin-top: 44px;
    width: 100%;
    margin-left: 27px;
    margin: 44px 0 0 35px;
  }

  .test .radio__text,
  .test .checkbox__text {
    font-size: 13px;
    margin-top: -6px;
  }

  .test .stage__label,
  .test .test .tasks__label {
    margin-bottom: 25px;
  }

  .test__progress-text {
    width: 100%;
    font-size: 10px;
  }

  .test .tasks {
    margin-top: 19px;
  }

  .test .tasks .tasks__column:last-child .tasks__label:last-child {
    margin-bottom: 0;
  }

  .test .tasks__label {
    margin-bottom: 25px;
  }

  .test .range__row {
    margin-top: 10px;
    padding: 0 7px;
    font-size: 15px;
    line-height: 170%;
  }

  .test .stage {
    margin-left: 19px;
  }
}

@media screen and (max-width: 452px) {
  .questions {
    padding: 40px 0 45px;
  }

  .questions__title {
    margin-left: 0;
    font-size: 24px;
  }

  .questions .question {
    font-weight: 600;
    font-size: 13px;
  }

  .questions .question__wrapper {
    width: 100%;
  }

  .questions .question__button {
    min-width: 14px;
    min-height: 14px;
    max-width: 14px;
    max-height: 14px;
  }

  .questions .question__button span {
    width: 14px;
    height: 2.5px;
  }

  .questions .answer {
    font-size: 12px;
  }
}

@media screen and (max-width: 400px) {
  .popup__title {
    font-size: 18px;
  }
}

@media screen and (max-width: 382px) {
  .footer__tel {
    flex-wrap: wrap;
    text-align: center;
  }
}

@media screen and (max-width: 350px) {
  .main__button {
    width: 100%;
    padding: 25px 0;
    text-align: center;
  }
}

@media screen and (max-width: 343px) {
  .popup__title {
    font-size: 16px;
  }
}

@media screen and (max-height: 700px) {
  .popup {
    min-height: calc(100vh - 60px);
  }
}