html{
	overflow-x: hidden;
	&.lock{
		overflow-y: hidden;
	}
}
body{
	font-family: 'Noto Sans', sans-serif;
	overflow: hidden;
}
$main-color: #F16147;
@mixin title() {
	font-weight: 900;
	font-size: 36px;
	line-height: 150%;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	span{
		color: $main-color;
	}
}
.container{
	max-width: 1200px;
	width: calc(100% - 20px);
	margin: auto;
}
/* pop-ups */
.popup{
	max-width: 815px;
	width: 66.666666667vw;
	min-height: 660px;
	max-height: calc(100vh - 60px);
	background: #fff;
	border-radius: 12px;
	padding: 112px 82.5px 20px 124px;
	position: relative;
	overflow: auto;
	&-wrapper{
		position: fixed;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		opacity: 0;
		z-index: -1111111;
		transition: opacity .25s 0s, z-index 0s .15s;
		&.active{
			opacity: 1;
			z-index: 1111111;
			transition: opacity .15s .1s, z-index 0s 0s;
		}
	}
	&__close-button{
		position: absolute;
		top: 32px;
		right: 32px;
	}
	&__title{
		font-weight: bold;
		font-size: 28px;
		line-height: 150%;
		color: #070715;
		max-width: 400px;
	}
	&__form{
		max-width: 100%;
		& input{
			display: block;
		}
	}
	&__name{
		font-size: 16px;
		line-height: 160%;
		padding: 20px 0 20px 25px;
		border: 1px solid #B3B3B3;
		box-sizing: border-box;
		border-radius: 4px;
		width: 457px;
		max-width: 100%;
		margin-top: 33px;
		&::placeholder{
			color: #B2B2B2;
		}
	}
	&__tel{
		font-size: 16px;
		line-height: 160%;
		padding: 20px 0 20px 25px;
		border: 1px solid #B3B3B3;
		box-sizing: border-box;
		border-radius: 4px;
		width: 457px;
		max-width: 100%;
		margin-top: 20px;
		&::placeholder{
			color: #B2B2B2;
		}
	}
	&__button{
		font-weight: bold;
		font-size: 14px;
		line-height: 112.84%;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		color: #070715;
		padding: 25px 80px;
		max-width: 100%;
		margin-top: 40px;
		background: #fff;
		border: 1px solid #000;
		box-sizing: border-box;
		border-radius: 4px;
	}
	@media screen and (max-width: 1100px) {
		padding: 112px 50px 20px;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: column;
		align-items: center;
		&__title{
			max-width: 457px;
		}
	}
	@media screen and (max-width: 750px) {
		width: 88vw;
		&__button{
			width: 100%;
			text-align: center;
			padding: 25px 0;
		}
	}
	@media screen and (max-height: 700px) {
		min-height: calc(100vh - 60px);
	}
	@media screen and (max-width: 470px) {
		&__title{
			font-size: 22px;
		}
	}
	@media screen and (max-width: 500px) {
		width: calc(100vw - 20px);
		margin: auto;
		padding: 112px 20px 20px;
		min-height: 570px;
	}
	@media screen and (max-width: 400px) {
		&__title{
			font-size: 18px;
		}
	}
	@media screen and (max-width: 343px) {
		&__title{
			font-size: 16px;
		}
	}
}
.popup-background{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -11;
	max-width: 100vw;
	max-height: 100vw;
	min-height: 100vh;
	opacity: 0;
	background: rgba(0, 0, 0, 0.48);
	transition: opacity .3s 0s, z-index 0s .2s;
	&.active{
		opacity: 1;
		z-index: 1111111;
		transition: opacity .3s 0s, z-index 0s 0s;
	}
}
.call-order{
	&__thank{
		display: none;
		font-weight: bold;
		font-size: 28px;
		line-height: 150%;
		text-align: center;
		color: #070715;
		max-width: 400px;
	}
	&.active{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 15px;
		& .call-order__title, & .call-order__form{
			display: none;
		}
		& .call-order__thank{
			display: block;
		}
	}
}
/* header */
.header{
	position: fixed;
	width: 100%;
	z-index: 11111;
	height: 100px;
	background:#fff;
	transition: .25s;
	&_small{
		height: 70px;
		transition: .3s;
		& ~ .header__bottom{
			top: 70px;
		}
	}
	&__bottom{
		background: #F68446;
		height: 30px;
		width: 100%;
		position: fixed;
		top: 100px;
		transition: .3s;
		z-index: 111;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		align-items: center;
		box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
		& .header__social{
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			justify-content: space-between;
			width: 197px;
			margin-left: 0;
			& a:not(:last-child){
				margin: 0;
			}
		}
	}
	&__tel_2{
		font-size: 14px;
		line-height: 140%;
		color: #FFFBFB;
	}
	&__menu{
		height: 100%;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
	}
	&__menu-btn{
	    position: absolute;
	    top: 0;
	    right: 0;
	    display: none;
	    width: 53px;
	    height: 100%;
	    box-sizing: content-box;
	    transition: .5s;
	    & span{
	        transition: .5s;
	        transform-origin: center;
	        left: 50%;
	        transform: translate(-50%, 0);
	    }
	    & span:first-child{
	        display: block;
	        width: 30px;
	        height: 3px;
	        background: #000;
	        border-radius: 0.5px;
	        position: absolute;
	        z-index: 1;
	        top: calc(50% - 4.5px);
	    }
	    & span:last-child{
	        display: block;
	        width: 30px;
	        height: 3px;
	        background: #000;
	        border-radius: 0.5px;
	        position: absolute;
	        top: calc(50% + 4.5px);
	        z-index: 1;
	    }
	}
	.hamburger-active{
		& span{
			top: 50%;
		}
		& span:first-child{
			transform: rotate(45deg) translate(0, -50%);
			transform-origin: center;
			top: 50%;
			left: calc(50% - 16px);
		}
		& span:last-child{
			transform: rotate(-45deg) translate(0, -50%);
			transform-origin: center;
			top: 50%;
			left: calc(50% - 14px);
		}
	}
	&__social{
		align-items: center;
		display: none;
		margin: 0 0 0 37px;
		& a:not(:last-child){
			margin-right: 18px;
		}
	}
	&__tel{
		margin-top: -1px;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		align-items: center;
	}
	&-active__tel-wrapper{
		display: none;
	}
	&__tel-button{
		font-weight: 500;
		padding: 15px 26px 16px;
		font-size: 16px;
		line-height: 140%;
		color: #fff;
		background: #F68446;
		border-radius: 6px;
		transition: .2s;
		&:hover{
			background: #F16147;
		}
	}
	@media screen and (max-width: 768px){
		margin-top: 0;
		background: #fff;
		height: 53px;
		top: 0;
		width: 100%;
		box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
		&__bottom{
			display: none;
		}
		&__menu-btn{
		    display: block;
		    z-index: 111111;
		}
		&-bg{
		    display: none;
		}
		&__menu ul{
		    width: 100vw;
		    position: absolute;
		    left: 0;
		    height: 0;
		    display: block;
		    overflow-y: auto;
		    overflow-x: hidden;
		    padding: 0 40px;
		    background: #fff;
		    & .header-active__tel-wrapper{
		    	display: -webkit-flex;
		    	display: -moz-flex;
		    	display: -ms-flex;
		    	display: -o-flex;
		    	display: flex;
	    	    flex-direction: column;
	    	    align-items: center;
		    }
			& li{
				margin: auto;
			}
			& li a{
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
				align-items: center;
				justify-content: center;
				padding-right: 0;
				margin-bottom: 32px;
				color: #000;
				font-size: 16px;
				line-height: 140%;
				text-transform: capitalize;
				color: #000;
			}
		}
		.logo{
			position: absolute;
			float: none;
			left: 0;
			top: 50%;
			transform: translate(0, -50%);
			padding-left: 20px;
			& img{
				width: 120px;
			}
		}
		.header__tel-button{
			font-size: 13px;
			padding: 18px 10px 17px;
		}
		&__social{
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
		}
	}
	@media screen and (max-width: 1000px){
		.logo{
			margin-right: 30px;
		}
	}
	@media screen and (max-width: 480px){
		&__tel{
			flex-direction: column;
			&-wrapper{
				text-align: center;
			}
		}
		&__tel-button{
			margin-top: 5px;
		}
	}
}
.logo {
    margin-right: 101px;
    height: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    & a{
    	display: block;
    }
}
.nav {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    &-wrapper{
    	display: -webkit-flex;
    	display: -moz-flex;
    	display: -ms-flex;
    	display: -o-flex;
    	display: flex;
    }
    & li{
    	font-size: 16px;
    }
	& li:not(:nth-child(3)){
		margin-right: 64px;
		@media screen and (max-width: 768px){
			margin-right: auto;
		}
	}
	& li.header__social, & li.header__tel{
		margin-right: 0;
	}
	@media screen and (max-width: 768px){
		&-wrapper{
			flex-direction: column;
		}
	}
}
.menu-callback{
    display: none;
    max-width: 584px;
    margin: 14px auto 0;
    & a{
        color: #fff;
    }
    @media screen and (max-width: 768px) {
        display: block;
    }
}
.header__menu ul{
	transition: background 0.44s 0.2s cubic-bezier(0.52, 0.16, 0.24, 1),
	height 0.56s cubic-bezier(0.52, 0.16, 0.24, 1);
	z-index: 11;
	@media screen and (max-width: 768px){
		& li, & .menu-callback{
			transform: translateY(-40px);
			opacity: 0;
		}
		& li:nth-child(1){
			margin-top: 137px;
		}
		& .header__social{
			justify-content: center;
			& a{
				margin-bottom: 0;
			}
		}
		& .header__tel{
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			justify-content: center;
			margin-top: 39px;
			& .header__tel-wrapper{
				display: none;
			}
			& .header__tel-button{
				width: 270px;
				text-align: center;
			}
		}
	}
	& li:nth-child(1){
		transition: opacity .3345s cubic-bezier(0.52, 0.16, 0.52, 0.84) .15s,
		transform .4669s cubic-bezier(0.52, 0.16, 0.52, 0.84) .108s,
		-webkit-transform .4669s cubic-bezier(0.52, 0.16, 0.52, 0.84) .108s;
	}
	& li:nth-child(2){
		transition: opacity .29294s cubic-bezier(0.52, 0.16, 0.52, 0.84) .13s,
		transform .45043s cubic-bezier(0.52, 0.16, 0.52, 0.84) .095s,
		-webkit-transform .45043s cubic-bezier(0.52, 0.16, 0.52, 0.84) .095s;
	}
	& li:nth-child(3){
		transition: opacity .26098s cubic-bezier(0.52, 0.16, 0.52, 0.84) .11s,
		transform .43756s cubic-bezier(0.52, 0.16, 0.52, 0.84) .082s,
		-webkit-transform .43756s cubic-bezier(0.52, 0.16, 0.52, 0.84) .082s;
	}
	& li:nth-child(4){
		transition: opacity .2386s cubic-bezier(0.52, 0.16, 0.52, 0.84) .09s,
		transform .42827s cubic-bezier(0.52, 0.16, 0.52, 0.84) .069s,
		-webkit-transform .42827s cubic-bezier(0.52, 0.16, 0.52, 0.84) .069s;
	}
	& li:nth-child(5){
		transition: opacity .22581s cubic-bezier(0.52, 0.16, 0.52, 0.84) .07s,
		transform .42259s cubic-bezier(0.52, 0.16, 0.52, 0.84) .056s,
		-webkit-transform .42259s cubic-bezier(0.52, 0.16, 0.52, 0.84) .056s;
	}
	& li:nth-child(6){
		transition: opacity .21281s cubic-bezier(0.52, 0.16, 0.52, 0.84) .05s,
		transform .414s cubic-bezier(0.52, 0.16, 0.52, 0.84) .043s,
		-webkit-transform .414s cubic-bezier(0.52, 0.16, 0.52, 0.84) .043s;
	}
}
.header__menu .menu-active{
	height: 100vh;
    display: block;
    transition: background .36s 0s cubic-bezier(0.52, 0.16, 0.24, 1),
    height .56s cubic-bezier(0.52, 0.16, 0.24, 1),
    padding 0.3s cubic-bezier(0.52, 0.16, 0.24, 1)!important;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    padding-bottom: 40px;
    & li:nth-child(1){
        transition: opacity .3091s cubic-bezier(0.32, 0.08, 0.24, 1) .03s,
        transform .3455s cubic-bezier(0.32, 0.08, 0.24, 1) .02s,
        -webkit-transform .3455s cubic-bezier(0.32, 0.08, 0.24, 1) .02s;
    }
    & li:nth-child(2){
        transition: opacity .32244s cubic-bezier(0.32, 0.08, 0.24, 1) .05s,
        transform .35825s cubic-bezier(0.32, 0.08, 0.24, 1) .04s,
        -webkit-transform .35825s cubic-bezier(0.32, 0.08, 0.24, 1) .04s;
    }
    & li:nth-child(3){
        transition: opacity .33467s cubic-bezier(0.32, 0.08, 0.24, 1) .07s,
        transform .37539s cubic-bezier(0.32, 0.08, 0.24, 1) .06s,
        -webkit-transform .37539s cubic-bezier(0.32, 0.08, 0.24, 1) .06s;
    }
    & li:nth-child(4){
        transition: opacity .34577s cubic-bezier(0.32, 0.08, 0.24, 1) .09s,
        transform .39692s cubic-bezier(0.32, 0.08, 0.24, 1) .08s,
        -webkit-transform .39692s cubic-bezier(0.32, 0.08, 0.24, 1) .08s;
    }
    & li:nth-child(5){
        transition: opacity .35577s cubic-bezier(0.32, 0.08, 0.24, 1) .11s,
        transform .42286s cubic-bezier(0.32, 0.08, 0.24, 1) .1s,
        -webkit-transform .42286s cubic-bezier(0.32, 0.08, 0.24, 1) .1s;
    }
    & .menu-callback{
        transition: opacity .36677s cubic-bezier(0.32, 0.08, 0.24, 1) .13s,
        transform .44786s cubic-bezier(0.32, 0.08, 0.24, 1) .12s,
        -webkit-transform .44786s cubic-bezier(0.32, 0.08, 0.24, 1) .12s;
    }
}
.header__menu .menu-active li, .header__menu .menu-active .menu-callback{
    transform: none;
    opacity: 1;
}
// main
.main{
	position: relative;
	padding: 188px 0 0;
	margin: 0 auto;
	width: 100%;
	&_1, &_2, &_3{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		padding: 0 15px 0 94px;
	}
	&_1{
		background:url('../img/main-bg_1.jpg') no-repeat right / cover;
		min-height: 456px;
	}
	&_2{
		background:url('../img/main-bg_2.jpg') no-repeat right / cover;
		min-height: 477px;
	}
	&_3{
		background:url('../img/main-bg_3.jpg') no-repeat right / cover;
		min-height: 504px;
		& .main__subtitle{
			max-width: 482px;
		}
	}
	&__title, &__title_2{
		font-size: 48px;
		line-height: 120%;
		color: #000;
		font-weight: 600;
	}
	&__title{
		max-width: 781px;
	}
	&__title_2{
		max-width: 730px;
	}
	&__subtitle{
		font-weight: 300;
		font-size: 20px;
		line-height: 160%;
		margin-top: 22px;
		& span{
			color: #F68446;
		}
	}
	&__button, &__button_2{
		font-family: 'Montserrat', sans-serif;
		display: inline-block;
		font-size: 16px;
		line-height: 112.84%;
		color: #000;
		border: 1px solid #F68446;
		border-radius: 6px;
		padding: 21px 71px;
		margin-top: 34px;
		transition: .2s;
		&:hover{
			background: #F68446;
			color: #fff;
		}
	}
	&__button{
		display: inline-block;
	}
	&__button_2{
		display: none;
	}
	.slick-dots{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-between;
		width: 86px;
		margin: 40px auto 0;
	}
	.slick-dots li.slick-active button{
		background: #F68446;
	}
	.slick-dots li button{
		width: 12px;
		height: 12px;
		border-radius: 50%;
		border: 1px solid #F68446;
		transition: .2s;
		font-size: 0;
	}
	.slick-slide{
		margin: 0 5px;
	}
	@media screen and (max-width: 1200px) {
		&_1, &_2, &_3{
			background-position: center;
		}
	}
	@media screen and (max-width: 1100px) {
		&_1, &_2, &_3{
			padding: 0 10px;
		}
	}
	@media screen and (max-width: 768px) {
		&_1, &_2, &_3{
			min-height: 400px;
		}
		&__title, &__title_2{
			font-size: 28px;
			line-height: 120%;
			text-align: center;
			max-width: 100%;
			width: 100%;
		}
		&__subtitle{
			font-size: 15px;
			line-height: 160%;
			text-align: center;
			color: #070715;
			max-width: 100%;
			width: 100%;
		}
		.slick-dots{
			margin-top: 20px;
		}
		.slick-slide{
			margin: 0;
		}
		&__button{
			display: none;
		}
		&__button_2{
			display: inline-block;
			margin-top: 20px;
			width: 280px;
			max-width: 280px;
			&-wrapper{
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
				justify-content: center;
			}
		}
	}
	@media screen and (max-width: 600px) {
		padding-top: 69px;
		&_1, &_2, &_3{
			min-height: 381px;
			padding-top: 65px;
			justify-content: flex-start;
		}
		&__title, &__title_2{
			font-size: 24px;
		}
		&__title_2{
			font-weight: 600;
			font-size: 18px;
			max-width: 300px;
			margin: 15px auto 0;
		}
	}
	@media screen and (max-width: 500px) {
		padding: 83px 0 0;
		margin-bottom: 0;
		&__title{
			font-size: 24px;
			line-height: 120%;
			max-width: 100%;
		}
		&__text{
			font-size: 18px;
			line-height: 120%;
		}
		&__subtitle{
			max-width: 270px;
			margin: 13px auto 0;
		}
		&__button{
			margin-top: 40px;
			max-width: 100%;
		}
		&__img-mobile{
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			justify-content: center;
			& img{
				width: 386px;
				max-width: 386px;
			}
		}
	}
	@media screen and (max-width: 350px) {
		&__button{
			width: 100%;
			padding: 25px 0;
			text-align: center;
		}
	}
}
.slick-track{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.slick-list{
	overflow: hidden;
}
// direction
.direction{
	margin-top: 98px;
	&__title{
		font-weight: 600;
		font-size: 28px;
		line-height: 150%;
	}
	&__row{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-top: 27px;
	}
	&__column{
		flex: 0 1 calc(50% - 5px);
	}
	&__item{
		min-height: 99px;
		border: 1px solid #F68446;
		border-radius: 4px;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		align-items: center;
		max-width: 443px;
		margin-bottom: 36px;
		padding-right: 15px;
		transition: .25s;
	}
	&__name{
		margin-left: 58px;
		font-size: 16px;
		line-height: 112.84%;
		color: #070715;
		max-width: 191px;
	}
	&__statistics{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		align-items: flex-end;
		margin-top: 68px;
	}
	&__number{
		font-weight: 900;
		font-size: 48px;
		line-height: 150%;
		letter-spacing: 0.1em;
		color: #070715;
	}
	.statistics__item{
		flex: 1 0 25%;
	}
	.statistics__name{
		font-size: 16px;
		line-height: 150%;
		color: #070715;
		max-width: 246px;
	}
	.statistics__button{
		margin-bottom: 0;
		& button{
			font-size: 16px;
			line-height: 150%;
			color: #fff;
			padding: 18px 36px;
			width: 100%;
			text-align: center;
			background: #F68446;
			border-radius: 4px;
		}
	}
	@media screen and (max-width: 1150px) {
		&__statistics{
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
		}
		.statistics__item{
			text-align: center;
		}
		.statistics__name{
			font-size: 14px;
			line-height: 130%;
			margin: auto;
		}
		.statistics__button{
			flex: 1 0 100%;
			width: 100%;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			justify-content: center;
			margin-top: 62px;
			& button{
				width: 270px;
				font-size: 13px;
			}
		}
	}
	@media screen and (max-width: 950px) {
		.statistics__item{
			flex: 0 1 200px;
			padding: 0 10px;
		}
		.statistics__button{
			flex: 1 0 100%;
		}
	}
	@media screen and (max-width: 915px) {
		&__item{
			margin-bottom: 10px;
		}
	}
	@media screen and (max-width: 768px) {
		&__title{
			font-size: 28px;
		}
		&__image{
			max-height: 100%;
			height: 100%;
			max-width: 67px;
			min-width: 67px;
			& img{
				max-width: 100%;
				width: 100%;
				max-height: 65px;
				height: 65px;
			}
		}
		&__item{
			min-height: 67px;
			height: 67px;
		}
		&__name{
			font-size: 13px;
			line-height: 112.84%;
			margin-left: 28px;
		}
	}
	@media screen and (max-width: 639px) {
		.statistics__item{
			flex: 0 1 100%;
			margin-bottom: 15px;
		}
		.statistics__name{
			max-width: 200px;
			margin: auto;
		}
		.statistics__button{
			margin-top: 19px;
			margin-bottom: 0;
		}
	}
	@media screen and (max-width: 520px) {
		&__title{
			font-size: 24px;
			line-height: 28px;
		}
		&__column{
			flex: 1 0 100%;
		}
		&__item{
			max-width: 100%;
			margin-bottom: 15px;
		}
	}
	@media screen and (max-width: 500px) {
		&__statistics{
			margin-top: 49px;
		}
	}
}
/* Directions */
.directions{
	max-width: 1600px;
	margin: 0 auto;
	&__wrapper{
		padding: 160px 200px 180px;
		background: #F4F7F8;
	}
	&__title{
		@include title();
		margin-bottom: 60px;	
		color: #000;
	}
	&__content{
		max-width: 1044px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__col{
	}
	&__item{
		width: 443px;
		height: 136px;
		padding: 5px 20px;
		display: flex;
		align-items: center;
		background: #fff;
		border-radius: 4px;
		margin-bottom: 50px;
	}
	&__img{
		img{

		}
	}
	&__subtitle{
		font-weight: 400;
		font-size: 20px;
		line-height: 112.84%;
		text-transform: lowercase;
		color: #000;
	}
	@media screen and (max-width: 1320px) {
		&__wrapper{
			padding: 160px 80px 180px;
		}
	}
	@media screen and (max-width: 1080px) {
		&__wrapper{
			padding: 160px 20px 180px;
		}
	}
	@media screen and (max-width: 940px) {
		&__title{
			font-size: 30px;
		}
		&__col{
			width: 49%;
		}
		&__item{
			width: 100%;
		}
	}
	@media screen and (max-width: 680px) {
		&__title{
			margin-bottom: 20px;
			text-align: center;
			font-size: 25px;
			line-height: 120%;
		}
		&__content{
			flex-direction: column;
			align-items: center;
		}
		&__col{
			width: 100%;
		}
		&__item{
			width: 443px;
			margin: 0 auto 50px;
			justify-content: center;
		}
	}
	@media screen and (max-width: 500px){
		&__item{
			width: 100%;
		}
		&__subtitle{
			font-size: 16px;
		}
	}
}
/* Work */
.work{
	margin-top: 106px;
	&__title{
		font-weight: 600;
		font-size: 28px;
		line-height: 150%;
		color: #070715;
		text-align: center;
	}
	&__row{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-wrap: wrap;
		margin-top: 42px;
		& .work__step:nth-child(1)::after{
			content: url('../img/ico/work-arrow_1.svg');
			position: absolute;
			bottom: -30px;
			right: -30px;
		}
		& .work__step:nth-child(2)::after{
			content: url('../img/ico/work-arrow_2.svg');
			position: absolute;
			bottom: -50px;
			right: -80px;
		}
		& .work__step:nth-child(3) .work__text{
			max-width: 281px;
		}
	}
	&__step{
		flex: 1 0 33.33%;
		text-align: center;
		position: relative;
	}
	&__number{
		font-weight: bold;
		font-size: 72px;
		line-height: 150%;
		letter-spacing: 0.1em;
		color: transparent;
		-webkit-text-stroke: 2px #F68446;
	}
	&__text{
		font-size: 18px;
		line-height: 170%;
		text-align: center;
		color: #070715;
		max-width: 324px;
		margin: 24px auto 0;
	}
	@media screen and (max-width: 1100px) {
		&__row .work__step::after{
			display: none;
		}
		&__text{
			max-width: 183px;
			margin: auto;
		}
	}
	@media screen and (max-width: 900px) {
		&__step{
			padding: 0;
		}
		&__title{
			font-size: 24px;
			line-height: 150%;
		}
		&__text{
			font-size: 15px;
		}
	}
	@media screen and (max-width: 639px) {
		&__title{
			text-align: left;
		}
		&__step{
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			align-items: center;
			flex: 1 0 100%;
			margin-top: 0;
			margin-bottom: -14px;
		}
		&__number{
			-webkit-text-stroke: 1px #F68446;
			font-size: 55px;
		}
		&__text{
			margin: 0 0 0 8px;
			max-width: 100%;
			text-align: left;
			font-size: 13px;
			line-height: 170%;
		}
	}
	@media screen and (max-width: 500px) {
		margin-top: 49px;
		&__row{
			margin-top: -1px;
		}
	}
}
/* File */
.file{
	overflow-x: hidden;
	margin-top: 95px;
	&__container{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		align-items: center;
	}
	&__title{
		font-weight: 600;
		font-size: 28px;
		line-height: 150%;
		color: #070715;
		text-align: center;
	}
	&__img{
		flex: 1 0 55.66%;
		& img{
			max-width: 100%;
		}
	}
	&__column{
		margin-left: -78px;
	}
	&__text{
		font-weight: bold;
		font-size: 20px;
		line-height: 170%;
		color: #000;
		max-width: 610px;
	}
	&__button{
		margin-top: 60px;
		& button{
			font-weight: 500;
			font-size: 16px;
			line-height: 140%;
			color: #FFFCFC;
			background: #F68446;
			border-radius: 6px;
			padding: 15px 60px 16px;
			&:hover{
				background: #F16147;
			}
		}
	}
	@media screen and (max-width: 1015px) {
		&__container{
			flex-wrap: wrap;
		}
		&__column{
			margin-left: 0;
		}
		&__text{
			text-align: center;
			max-width: 100%;
		}
		&__img{
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			justify-content: center;
		}
		&__button{
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			justify-content: center;
			margin-top: 48px;
			& button{
				width: 270px;
				padding: 21px 0;
				text-align: center;
			}
		}
	}
	@media screen and (max-width: 750px) {
		flex-wrap: wrap;
		&__img{
			flex: 1 0 100%;
		}
		&__column{
			margin-left: 0;
		}
	}
	@media screen and (max-width: 500px) {
		margin-top: 30px;
		&__title{
			font-size: 24px;
			line-height: 150%;
		}
		&__img{
			align-items: center;
			& img{
				max-width: 130%;
			}
		}
		&__text{
			font-size: 13px;
			line-height: 170%;
			margin-top: 2px;
		}
	}
}
/* Test */
.test{
	margin-top: 232px;
	background: url('../img/test-img.jpg') no-repeat center / cover;
	overflow-x: hidden;
	&.active{
		background: #fff;
	}
	&__container{
		max-width: 600px;
		width: calc(100% - 20px);
		min-height: 688px;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		&.active{
			margin: auto;
		}
	}
	&__wrapper{
		width: 100%;
		position: relative;
		display: none;
		flex-direction: column;
		transition: position 0s 0s, opacity 0s .3s;
		&.active{
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
		}
	}
	&_1{
		justify-content: center;
	}
	&_6{
		align-items: center;
		padding-top: 140px;
	}
	&_2, &_3, &_4, &_5{
		padding-top: 43px;
	}
	&__progressbar{
		width: 100%;
		height: 10px;
		position: relative;
		background: #F2F2F2;
		border-radius: 8px;
		&::before{
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			background: #F68446;
			border-radius: 8px;
			height: 100%;
		}
	}
	&_1__progressbar::before{
		width: 25%;
	}
	&_2__progressbar::before{
		width: 50%;
	}
	&_3__progressbar::before{
		width: 75%;
	}
	&_4__progressbar::before{
		width: 100%;
	}
	&__progress-text{
		font-size: 14px;
		line-height: 170%;
		color: #070715;
		margin-top: 17px;
		display: block;
	}
	&__title{
		font-weight: 600;
		font-size: 28px;
		line-height: 170%;
		color: #070715;
		margin-top: 47px;
	}
	&__subtitle{
		font-size: 16px;
		line-height: 170%;
		color: #070715;
	}
	&__button{
		margin-top: 55px;
		padding: 14px 0 15px;
		background: #F68446;
		font-size: 18px;
		line-height: 170%;
		color: #fff;
		display: inline-block;
		width: 250px;
		text-align: center;
		border-radius: 4px;
	}
	&__question{
		font-weight: bold;
		font-size: 20px;
		line-height: 170%;
		color: #070715;
		margin-top: 58px;
	}
	.stage{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-between;
		margin-top: 40px;
		& .stage__column:last-child .stage__label:last-child{
			margin-bottom: 0;
		}
	}
	.tasks{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-between;
		margin-top: 30px;
		& .tasks__column:last-child .stage__label:last-child{
			margin-bottom: 0;
		}
	}
	.stage__label, .tasks__label{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		margin-bottom: 32px;
	}
	.radio__text, .checkbox__text{
		margin-left: 10px;
		font-size: 18px;
		line-height: 170%;
		color: #070715;
		margin-top: -10px;
	}
	.stage__column, .tasks__column{
		width: calc(50% - 5px);
	}
	.radio-fake{
		display: block;
		min-width: 12px;
		height: 12px;
		border: 1px solid #070715;
		border-radius: 50%;
		position: relative;
		&::before{
			content: "";
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 6px;
			height: 6px;
			background: #070715;
			border-radius: 50%;
			transition: .15s;
			opacity: 0;
		}
	}
	.checkbox-fake{
		display: block;
		min-width: 10px;
		height: 10px;
		border: 1px solid #070715;
		position: relative;
		&::before{
			content: "";
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 6px;
			height: 6px;
			background:#070715;
			transition: .15s;
			opacity: 0;
		}
	}
	.stage__radio, .tasks__checkbox{
		display: none;
	}
	.stage__radio:checked + .radio-fake::before, .tasks__checkbox:checked + .checkbox-fake::before{
		opacity: 1;
	}
	&__navigation{
		width: 100%;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-between;
		align-items: center;
		&-wrapper{
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			align-items: flex-end;
			flex: 1 0;
			margin: 20px 0 106px;
		}
	}
	&__back-button{
		font-size: 18px;
		line-height: 170%;
		color: #070715;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		align-items: center;
		& img{
			margin-right: 9px;
		}
	}
	&__next-button{
		margin: 0 0 0 20px;
	}
	&__range{
		width: 100%;
		margin: auto;
		&-wrapper{
			width: 100%;
		}
	}
	.range__row{
		width: 100%;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: center;
		font-size: 18px;
		line-height: 170%;
		color: #FFFFFF;
		margin-top: 8px;
		padding: 0 24px;
	}
	.test__range {
		-webkit-appearance: none;
		margin-top: 37px;
		width: 100%;
	    border-radius: 50%;
	}
	.test__range:focus {
		outline: none;
	}
	.test__range::-webkit-slider-runnable-track {
		height: 10px;
		cursor: pointer;
		background: #F2F2F2;
		border-radius: 8px;
	}
	.test__range::-webkit-slider-thumb {
		height: 26px;
		width: 26px;
		cursor: pointer;
		-webkit-appearance: none;
		margin-top: -8px;
		border-radius: 50%;
		background: #EF4043;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	}
	.test__range::-moz-range-track {
		height: 10px;
		cursor: pointer;
		background: #F2F2F2;
	}
	.test__range::-moz-range-thumb {
		height: 26px;
		width: 26px;
		cursor: pointer;
		-webkit-appearance: none;
		margin-top: -9px;
		border-radius: 50%;
		background: #EF4043;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	}
	.test__range::-ms-track {
		height: 10px;
		cursor: pointer;
		background: #F2F2F2;
	}
	.test__range::-ms-thumb {
		height: 26px;
		width: 26px;
		cursor: pointer;
		-webkit-appearance: none;
		margin-top: -9px;
		border-radius: 50%;
		background: #EF4043;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	}
	&__thank{
		font-size: 18px;
		line-height: 170%;
		text-align: center;
		color: #070715;
	}
	&_6__data{
		font-weight: bold;
		font-size: 20px;
		line-height: 170%;
		text-align: center;
		color: #070715;
		max-width: 367px;
		margin: 54px 0 5px;
	}
	&_6__form{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		align-items: center;
		flex-direction: column;
		max-width: 100%;
	}
	&__input{
		padding: 21px 23px;
		background: transparent;
		border: 1px solid #CECECE;
		border-radius: 4px;
		font-size: 18px;
		line-height: 170%;
		color: #070715;
		margin-top: 20px;
		max-width: 100%;
		width: 336px;
		display: block;
		max-width: 250px;
		&::placeholder{
			color: #B1B1B1;
		}
		&[type="submit"]{
			padding: 19px 0;
		    background: #F68446;
			text-align: center;
			color: #FFF8F8;
			border: none;
		}
	}
	&_6__checkbox{
		max-width: 336px;
		margin: 22px auto 0;
		& .checkbox__text{
			margin-top: -5px;
			font-size: 12px;
			line-height: 160%;
			color: #FFFCFC;
			& a{
				color: #FFFCFC;
				text-decoration: underline #FFFCFC;
			}
		}
	}
	@media screen and (max-width: 1000px) {
		background-position: right;
	}
	@media screen and (max-width: 768px) {
		&__question{
			font-size: 16px;
		}
	}
	@media screen and (max-width: 500px) {
		margin-top: 78px;
	}
	@media screen and (max-width: 480px) {
		&__thank{
			font-size: 10px;
		}
		.stage, .tasks{
			flex-direction: column;
			align-items: center;
		}
		.stage__column, .tasks__column{
			width: 100%;
		}
	}
	@media screen and (max-width: 460px) {
		overflow: hidden;
		&_1{
			text-align: center;
		}
		& .container{
			max-height: 627px;
			height: 627px;
		}
		&__container{
			width: 100%;
			max-height: 100%;
			min-height: 100%;
		}
		&__wrapper{
			align-items: center;
			padding-top: 31px;
		}
		&__title{
			font-size: 22px;
			line-height: 150%;
			max-width: 211px;
			font-size: 13px;
			line-height: 170%;
			margin-top: 30px;
		}
		&__subtitle{
			font-size: 13px;
			line-height: 170%;
		}
		&__button{
			font-size: 13px;
			line-height: 170%;
			padding: 19px 0;
			width: 270px;
			margin-top: 36px;
		}
		&__next-button{
			margin: 31px auto 0;
			width: 250px;
		}
		&__back-button{
			font-size: 10px;
			max-width: 250px;
			width: 100%;
			margin: auto;
		}
		&__navigation{
			flex-wrap: wrap;
			&-wrapper{
				font-size: 10px;
				line-height: 170%;
			}
		}
		&__question{
			font-size: 13px;
			margin-top: 44px;
			width: 100%;
			margin-left: 27px;
			margin: 44px 0 0 35px;
		}
		& .radio__text, & .checkbox__text{
			font-size: 13px;
			margin-top: -6px;
		}
		& .stage__label, .test .tasks__label {
		    margin-bottom: 25px;
		}
		&__progress-text{
			width: 100%;
			font-size: 10px;
		}
		& .tasks{
			margin-top: 19px;
			& .tasks__column:last-child .tasks__label:last-child{
				margin-bottom: 0;
			}
		}
		& .tasks__label{
			margin-bottom: 25px;
		}
		& .range__row{
			margin-top: 10px;
			padding: 0 7px;
			font-size: 15px;
			line-height: 170%;
		}
		& .stage{
			margin-left: 19px;
		}
	}
}
/* Form */
.form{
	max-width: 1200px;
	width: 1200px;
	padding: 70px 100px 65px;
	background: #F68446;
	border-radius: 12px;
	&__wrapper{
		max-width: 1600px;
		margin: 160px auto;
		display: flex;
		justify-content: flex-end;
	}
	&__title{
		max-width: 620px;
		margin-bottom: 38px;
		font-weight: bold;
		font-size: 20px;
		line-height: 170%;
		color: #fff;
	}
	&__input{
		max-width: 955px;
		display: flex;
		justify-content: space-between;
	}
	&__item{
		input{
			display: flex;
			align-items: center;
			width: 288px;
			padding: 18px 20px;
			border-radius: 4px;
			font-weight: 500;
			font-size: 18px;
			line-height: 160%;
		}
		&::placeholder{
			color: #B1B1B1;
		}
		input[type='submit'] {
			width: 316px;
			height: 64px;
			justify-content: center;
			background: #010101;
			font-weight: 700;
			font-size: 14px;
			line-height: 112.84%;
			letter-spacing: 0.1em;
			text-transform: uppercase;
			color: #fff;
			cursor: pointer;
		}
	}
	&__text{
		max-width: 289px;
		margin-top: 13px;
		font-weight: 500;
		font-size: 12px;
		line-height: 160%;
		color: #fff;
	}
	@media screen and (max-width: 1130px){
		padding: 70px 20px 65px;
		&__input{
			width: 100%;
		}
		&__item{
			width: 32%;
			input {
				width: 100%;
			}
			input[type='submit'] {
				width: 100%;
			}
		}
	}
	@media screen and (max-width: 940px){
		&__input{
			flex-wrap: wrap;
			justify-content: center;
		}
		&__item{
			flex: 1 0 calc(50% - 20px);
			margin: 10px;
		}
		&__text{
			text-align: center;
			margin: 13px auto 0;
		}
	}
	@media screen and (max-width: 740px){
		&__title{
			font-size: 23px;
			line-height: 130%;
		}
	}
	@media screen and (max-width: 710px){
		&__item{
			margin: 10px 0;
			flex: 1 0 100%;
		}
		&__title{
			width: 100%;
			font-size: 20px;
			margin-bottom: 10px;
			line-height: 120%;
		}
		&__text{
			max-width: 100%;
		}
	}
	@media screen and (max-width: 500px){
		padding: 70px 0 65px;
		&__title{
			font-size: 16px;
		}
	}
	@media screen and (max-width: 480px){
		&__wrapper{
			display: none;
		}
	}
}
/* questions */
.questions{
	padding: 176px 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	&__wrapper{
		max-width: 620px;
	}
	&__title{
		font-weight: 600;
		font-size: 28px;
		line-height: 150%;
		margin-bottom: 26px;
	}
	&__boxes{
		position: relative;
		height: 200px;
		width: 399px;
		margin-left: 230px;
	}
	.question{
		font-weight: 600;
		font-size: 16px;
		line-height: 160%;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-between;
		&__button{
			width: 20px;
			height: 20px;
			position: relative;
			margin-left: 20px;
			& span{
				position: absolute;
				display: block;
				top: calc(50% - 2px);
				width: 20px;
				height: 4px;
				background:#000;
				&:first-child{
					transform: rotate(90deg);
					transform-origin: center;
					transition: .2s;
				}
			}
			&.active span:first-child{
				transform: rotate(0deg);
			}
		}
		&__wrapper{
			margin-bottom: 30px;
		}
	}
	&__box{
		border: 2px solid #000;
		width: 345.35px;
		height: 110px;
		border-radius: 0 28px 0 28px;
		transform: skew(26deg);
		position: absolute;
		transition: .45s;
		&:nth-child(1){
			top: calc(50% - 215px);
			&.active_2{
				top: calc(50% - 275px);
			}
			&.active{
				top: calc(50% - 335px);
			}
		}
		&:nth-child(2){
			top: calc(50% - 135px);
			&.active{
				top: calc(50% - 195px);
			}
		}
		&:nth-child(3){
			top: calc(50% - 55px);
			&.active{
			}
		}
		&:nth-child(4){
			top: calc(50% + 25px);
			&.active{
				top: calc(50% + 85px);
			}
		}
		&:nth-child(5){
			top: calc(50% + 105px);
			&.active_2{
				top: calc(50% + 165px);
			}
			&.active{
				top: calc(50% + 225px);
			}
		}
	}
	.question__wrapper{
		width: 621px;
	}
	.answer{
		max-width: 575px;
		font-size: 16px;
		line-height: 170%;
		margin-top: 32px;
	}
	@media screen and (max-width: 1300px) {
		.questions__boxes{
			margin-left: 100px;
		}
	}
	@media screen and (max-width: 1150px) {
		&__wrapper{
			width: 100%;
			max-width: 100%;
		}
		&__title{
			margin-left: 40px;
		}
		.question__wrapper{
			width: calc(100% - 80px);
			margin: 30px auto 0;
		}
		&__boxes{
			display: none;
		}
	}
	@media screen and (max-width: 452px) {
		padding: 40px 0 45px;
		&__title{
			margin-left: 0;
			font-size: 24px;
		}
		.question{
			font-weight: 600;
			font-size: 13px;
			&__wrapper{
				width: 100%;
			}
			&__button {
				min-width: 14px;
				min-height: 14px;
				max-width: 14px;
				max-height: 14px;
				& span{
					width: 14px;
					height: 2.5px;
				}
			}
		}
		.answer{
			font-size: 12px;
		}
	}
}
/* Footer */
.footer{
	background:#333;
	padding: 78px 0;
	&__container{
		max-width: 1200px;
		margin: auto;
		@media screen and (max-width: 1200px) {
			width: calc(100% - 20px);
		}
	}
	&__row{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		align-items: center;
		@media screen and (max-width: 1200px) {
			justify-content: space-between;
		}
		@media screen and (max-width: 768px) {
			flex-wrap: wrap;
			justify-content: center;
		}
	}
	&__social{
		display: none;
	}
	&__menu{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		margin-left: 108px;
		& .footer__item:not(:first-child){
			margin-left: 49px;
		}
		@media screen and (max-width: 960px) {
			margin-left: 40px;
		}
		@media screen and (max-width: 768px) {
			width: 100%;
			margin-left: 0;
			margin-top: 49px;
			flex-direction: column;
			align-items: center;
			& .footer__item:not(:first-child){
				margin-left: 0;
			}
			& .footer__item{
				margin-bottom: 15px;
			}
		}
	}
	&__link{
		font-size: 16px;
		line-height: 140%;
		color: #fff;
	}
	&__tel{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		margin-left: 447px;
		@media screen and (max-width: 1200px) {
			margin-left: 0;
		}
		@media screen and (max-width: 768px) {
			max-width: 100%;
			width: 100%;
			min-width: 100%;
			justify-content: center;
			margin-top: 30px;
		}
		@media screen and (max-width: 382px) {
			flex-wrap: wrap;
			text-align: center;
		}
	}
	&__navigation{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		align-items: center;
		@media screen and (max-width: 768px) {
			flex-direction: column;
		}
	}
	&__tel-button{
		background: #F68446;
		border-radius: 4px;
		padding: 15px 42px 16px;
		font-size: 16px;
		line-height: 140%;
		color: #fff;
		&:hover{
			background: #F16147;
		}
		@media screen and (max-width: 1200px) {
			margin-left: 0;
		}
	}
	&__button{
		margin-top: 67px;
		& a{
			font-weight: 500;
			font-size: 16px;
			line-height: 140%;
			color: #fff;
			padding-bottom: 6px;
			border-bottom: 1px solid #fff;
		}
		@media screen and (max-width: 768px) {
			margin-top: 30px;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			justify-content: center;
		}
	}
	&__social a{
		margin: 0 12.5px;
	}
	@media screen and (max-width: 768px) {
		&__row{
			flex-direction: column;
		}
		&__tel{
			margin-top: 35px;
		}
		&__tel-button{
			width: 270px;
			text-align: center;
			padding: 20px;
		}
		&__social{
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			margin-top: 119px;
		}
		&__button {
			margin-top: 40px;
			& a{
				font-weight: 600;
				font-size: 12px;
				line-height: 140%;
			}
		}
	}
}

.page-404{
	background: #000;
	text-align: center;
	padding-bottom: 20px;
	padding: 0 0 20px;
}
.page--warning{
	&__image{
		margin-top: 118px;
		& img{
			max-width: 100%;
		}
	}
	&__title{
		font-weight: bold;
		font-size: 24px;
		line-height: 160%;
		text-transform: uppercase;
		color: #FFFEFE;
	}
	&__subtitle{
		margin-top: 22px;
		font-size: 18px;
		line-height: 170%;
		color: #fffefe;
	}
	&__button{
		margin-top: 85px;
		& a{
			font-family: 'Montserrat', sans-serif;
			font-weight: 500;
			background: #F68446;
			border-radius: 6px;
			font-size: 16px;
			line-height: 112.84%;
			color: #fff;
			padding: 22px 40px;
			display: inline-block;
		}
	}
	@media screen and (max-width: 650px) {
		&__title{
			margin-top: 40px;
			font-size: 13px;
		}
		&__subtitle{
			font-size: 13px;
			margin-top: 19px;
			padding: 0px 45px;
		}
		&__button{
			margin-top: 31px;
		}
	}
}